html {
  font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

body {
  margin: 0;
  scrollbar-width: 0; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

* {
  box-sizing: border-box;
}

/* Prevent iOS Safari from auto-linking text */
html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input, button, a, h1, h2, h3, h4, h5, h6, p {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  user-select: text;
  -webkit-text-size-adjust: 100%;
  text-decoration: none;
  color: inherit;
}